<ion-header>
  <ion-toolbar>
    <ion-title>
      Поиск
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" (ionChange)="filter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="products.length; else noData">
    <ion-item (click)="detail(product)" *ngFor="let product of products.slice(0, count)">
      <ion-avatar slot="start">
        <img [src]="product.image">
      </ion-avatar>
      <ion-label>
        <h2>{{product.name}}</h2>
        <p>{{product.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <div class="no-data">No data</div>
  </ng-template>

  <ion-infinite-scroll [disabled]="disabledScroll" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
